.busqueda{
    display: flex;
    justify-content: space-between;
}
.busqueda-header{
    width: 30%;
    max-height: 100vh;
    overflow-y: scroll;
}
.busqueda-header input{
    width: 100%;
    padding: .4rem 1rem;
    outline: none;
}
.busqueda-header p{
    margin: 1rem 0;
    font-weight: bold;
}
.busqueda-main{
    width: 60%;
}
